<phpunit
        bootstrap="./vendor/autoload.php"
        backupGlobals="false"
        colors="true">
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>